extends inc/layout

block content
	img.logo(src='img/jelect.png' width=176 height=36)
	p.description= page.description

	h1.h1 Jelect Example

	mixin jelect(name, options)
		.jelect(role='select')
			each option in options
				if option[2]
					input.jelect-input#jelect(
						name=name
						value=option[1]
						data-text=option[0]
						type='text'
					)

					.jelect-current(tabindex=0 role='button')= option[0]

			ul.jelect-options
				each option in options
					li.jelect-option(
						class=option[2] ? 'jelect-option_state_active' : ''
						data-val=option[1]
						tabindex=0
						role='option'
					)= option[0]

	+jelect('tool', [
		['imagemin', 0, true],
		['stylus', 1],
		['cssmin', 2],
		['autoprefixer', 3],
		['cssbeautifier', 4],
		['jade', 5],
		['prettify', 6],
		['jshint', 7],
		['concat', 8],
		['uglify', 9],
		['copy', 10],
		['connect', 11],
		['watch', 12],
		['livereload', 13]
	])


	.fork-on-github
		a.fork-on-github__link(href='https://github.com/CSSSR/jelect/') Fork me on GitHub

	.copyright.dark ©GC92, 2014
